{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Generate high-quality, unique essays and articles with Smodin’s free AI writer and text generator. Go from a few phrases to surprisingly great essays and articles with AI copywriting. " />
    <title>Real Estate Flyer Generator</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
    {% block content %}
    {% endblock %}
</body>
<script>
    let base_url = 'http://{{request.get_host}}/';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'main.js' %}"></script>
</html>